body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  border: solid 1px #ddd;
  height: inherit;
  width: inherit;
}

.handle {
  cursor: grab;
}

.workArea {
  position: absolute;
  height: 100%;
  width: 100%;
}

g.hover {
  path {
    stroke-width: 2;
  }
}